<hello name="{{ name }}"></hello>
<p>
	Start editing to see some magic happen :)
</p>

<ul>
	<li *ngFor="let location of locations; let i=index">
		<div style="display:flex;flex-direction:row;justify-content:space-between">
			<div style="display:flex;flex-direction:column;">
				<span>{{location.name}}</span>
				<small>{{location.parent}}</small>
			</div>
			<button style=" border: none; border-radius: 50%;">
        <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" class=" NMm5M"><path d="M5.41 7.59L4 9l8 8 8-8-1.41-1.41L12 14.17"></path></svg>
      </button>
		</div>
		<!-- *ngIf="location.children" -->
		<ul *ngIf="location.children">
			<li *ngFor="let airport of location.children; let j=index">
				{{airport.name}}
			</li>
		</ul>
	</li>
</ul>